/* Empty. Add your own CSS if you like */
.custom-ion-item
{

}
.custom-ion-item-content
{

    padding: 0px;
    margin: 0px;
}
.custom-ion-item.ng-enter {
    -webkit-animation: flipInX .5s;
    animation: flipInX .5s;
}
.custom-ion-item.ng-leave {
    -webkit-animation: flipOutX 1s;
    animation: flipOutX 1s;
}
.custom-ion-item.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation */
    -webkit-transition-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    /* in case the stagger doesn't work then these two values
  must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
.profile-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    margin-left: 10px;
}
.profile-pic-header {
    max-width: 60px;
    max-height: 60px;
    margin: 15px;
}
.profile-text-area {
    margin: 15px;
    font-size: 12pt;
}
.profile-username {
    margin-bottom: 10px;
}

/**** Login */
.login-background {
  background-image: url('../img/Aqua.jpg');
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}
.login-placeholder-icon {
  color: #9a9a9a !important;
  padding-left: 10px;
  /* opacity: 1; */
  font-size: 20pt;
}
.login-inputfield {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 17px;
  padding-top: 1px;
  padding-right: 0px;
  font-family: HelveticaNeue;
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  line-height: 48px;
  /* border-color: white; */
  border-width: 0px;
  border-radius: 2px;
  width: 320px;
  height: 48px;
  /* opacity: 0.15; */
  /* border-style: solid; */
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.75); */
}
.login-placeholder {
  color: #000000 !important;
  padding-left: 16px !important;
  font-size: 14pt !important;
  line-height: 34px !important;
}
.login-submitbutton {
  border-top-width: 1px;
  border-top-color: #ffffff;
  margin-left: 0px;
  font-family: HelveticaNeue;
  line-height: 48px;
  border-width: 0px;
  width: 315px;
  height: 65px;
  border-radius: 2px;
  background-color: #f80303;
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  margin: 10px;
}
.login-logo {
  margin-bottom: 30px;
  margin-top: 30px;
  /* height: 74px; */
  width: 79px;
}
.login-form {
  /* display:flex; */
  /* align-items: flex-end; */
}
.forgot-passowrd {
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 5px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.login-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.login-content {
  background-color: rgba(0, 0, 0, .25);
  width: 400px;
  height: 450px;
  margin: 0 auto;
  /* padding: 35px 15px; */
  position: relative;
  text-align: center;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15%;
}
.accountlink {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
}
.registerlink {
  font-size: 14px;
  font-weight: 300;
  color: #f80303;
}


/*****/


